@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.hot {
  display: inline-block;
  margin-left: 37.375rem;
  font-family: "SUITE-Regular";

  .hot-lottie {
    margin-left: 11.5rem;
    display: inline-block;
    position: absolute;
    margin-top: -3.75rem;
  }

  #hot1 {
    position: absolute;
    font-weight: 700;
    margin-left: 20rem;
    font-size: 1.3rem;
    font-family: "GmarketSansMedium";
    margin-top: 2.45rem;
    color: #6927ff;
  }

  #hot2 {
    font-weight: 900;
    font-size: 2rem;
    position: absolute;
    font-size: 1.85rem;
    font-family: "GmarketSansMedium";
    margin-top: 4.25rem;
    margin-left: 13.75rem;
  }

  #hot3 {
    position: absolute;
    font-family: "SUITE-Regular";
    font-size: 1rem;
    font-weight: 500;
    margin-top: 6.75rem;
    margin-left: 13.75rem;
  }
}

.swiper {
  width: 60rem;
  height: 40rem;
  margin-top: 8.8rem;
  position: relative;
}

.swiper-slide {
  background-color: white;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(3px);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  /* top: 80px; */
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #004fff;
  box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
}

.swiper-button-prev {
  background-image: url(/img/icon-arrow-left.svg);
  left: 20px;
}

.swiper-button-prev:hover {
  background-image: url(/img/icon-arrow-left-w.svg);
}

.swiper-button-next {
  background-image: url(/img/icon-arrow-right.svg);
  right: 20px;
}

.swiper-button-next:hover {
  background-image: url(/img/icon-arrow-right-w.svg);
}
