* {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --signup-color: #6927ff;
  --login-color: #efefef;
  --main-background-color: #c7c8c9;
}
img {
  height: 300px;
  width: 300px;
}
.col-2,
.col-4,
#etc {
  background-color: var(--main-background-color);
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  font-size: large;
  color: black;
}
.btn {
  background-color: var(--signup-color);
  border: none;
}
a i.fa-brands {
  color: black !important;
}
