@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

#top-navbar {
  position: relative;

  .navbar-expand-lg {
    height: 3.3rem;
  }

  .navbar-brand {
    margin-left: 14rem;
    margin-top: 0.1rem;
    width: 10rem;
    height: 10rem;
  }

  #navbarSupportedContent {
    margin-left: 58.125rem;
    margin-right: 14rem;
  }

  #signUp {
    display: block;
    background-color: #6927ff;
    color: white;
    border-radius: 3.1rem;
    font-size: 1rem;
    width: 5.3rem;
    height: 2.37rem;
    padding-left: 0.65rem;
    padding-bottom: 0.5625rem;
    font-family: "SUITE-Regular";
    font-weight: 500;
  }

  #login {
    display: block;
    background-color: #efefef;
    color: #000000;
    border-radius: 3.1rem;
    font-size: 1rem;
    width: 5.3rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    font-family: "SUITE-Regular";
    font-weight: 500;
  }

  #search-form {
    background-color: #efefef;
    border-radius: 3.125rem;
  }

  input {
    background-repeat: no-repeat;
  }

  input::-webkit-input-placeholder {
    background-image: url(icon-search.png);
    background-position: 1px center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.sidebar {
  position: fixed;
  width: 14.125rem;
  height: 29rem;
  background-color: #ffffff;
  margin-left: 14rem;
  margin-top: 2.625rem;
  border-radius: 1.25rem;
  padding-top: 1.875rem;
  display: inline-block;

  .side {
    display: block;
    text-decoration: none;
    font-family: "SUITE-Regular";
    font-weight: 600;
    color: #000000;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
}

#modal {
  display: none;
  position: absolute;
  z-index: 1050;
}

#modal .modal_content {
  width: 40rem;
  height: fit-content;
  margin-left: -55rem;
  margin-top: 2rem;
  padding: 20px 10px;
  background: #fff;
  border-radius: 1.25rem;
}

#modal .modal_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#modal_close_btn {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  margin-top: -2.5rem;
  margin-left: 37.3rem;
}

.login-container {
  display: block;
  max-width: 680px;
  width: 80%;
  margin: 120px auto;
  font-family: "GmarketSansMedium";
  background: white;
}

#signin-title {
  color: #6927ff;
  font-size: 48px;
  letter-spacing: -3px;
  text-align: center;
  margin: 120px 0 80px 0;
  transition: 0.2s linear;
}

.links {
  list-style-type: none;
}

.links li {
  display: inline-block;
  margin: 0 20px 0 0;
  transition: 0.2s linear;
}

.links li:nth-child(2) {
  opacity: 0.6;
}
.links li:nth-child(2):hover {
  opacity: 1;
}
.links li:nth-child(3) {
  opacity: 0.6;
  float: right;
}
.links li:nth-child(3):hover {
  opacity: 1;
}
.links li a {
  text-decoration: none;
  color: #0f132a;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

#userform {
  width: 100%;
  max-width: 680px;
  margin: 40px auto 10px;
  font-family: "SUITE-Regular";
}

#userform .input__block {
  margin: 20px auto;
  display: block;
  position: relative;
}

#userform .input__block.first-input__block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50px;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  transition: 0.2s linear;
}

#userform .input__block.signup-input__block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 150px;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  transition: 0.2s linear;
}

#userform .input__block input {
  display: block;
  width: 90%;
  max-width: 680px;
  height: 50px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: rgba(15, 19, 42, 0.1);
  color: rgba(15, 19, 42, 0.3);
  padding: 0 0 0 15px;
  font-size: 14px;
  font-family: "SUITE-Regular";
}

#userform .input__block input:focus,
#userform .input__block input:active {
  outline: none;
  border: none;
  color: #0f132a;
}

#userform .input__block input.repeat__password {
  opacity: 0;
  display: none;
  transition: 0.2s linear;
}

#userform .signin__btn {
  background: #6927ff;
  color: white;
  display: block;
  width: 90%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "SUITE-Regular";
  box-shadow: 0 15px 30px rgba(152, 30, 233, 0.36);
  transition: 0.2s linear;
}

#userform .signin__btn:hover {
  box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.separator {
  display: block;
  margin: 30px auto 10px;
  text-align: center;
  height: 40px;
  position: relative;
  background: transparent;
  color: rgba(15, 19, 42, 0.4);
  font-size: 13px;
  width: 90%;
  max-width: 680px;
}

footer p {
  text-align: center;
  font-size: 15px;
  font-family: "SUITE-Regular";
}
footer p .fa {
  color: #6927ff;
}
