<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />

    <title>Config</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- share portfolio/main CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
    <!-- share portfolio/navbar CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/layout_footer.css}" />
    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" th:href="@{/jquery-ui.css}" />
  </head>
  <body id="main-body" style="background-color: #ededed">
    <span th:replace="~{navbar.html::navbarFragment}"></span>
    <div class="hot">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player
        class="hot-lottie"
        src="https://lottie.host/e92cce08-cd57-49a5-8dce-d84f34bed457/mVrWJR0Opm.json"
        background="transparent"
        speed="1"
        style="width: 14rem; height: 14rem"
        loop
        autoplay
      ></lottie-player>
      <span id="hot1">HOT</span>
      <span id="hot2">지금 뜨는 프로젝트</span>
      <span id="hot3">여러 분야의 트렌드를 한 눈에 살펴보세요</span>
      <div id="swiper-move">
        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <a href="#" target="_blank">
                <div class="text-wrap">
                  <h2>올해의 디자인 트렌드<br />- Y2K -</h2>
                  <p>Y2K 컨셉으로 팬시문구 디자인</p>
                </div>
                <img src="img/img-02.png" alt="" />
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" target="_blank">
                <div class="text-wrap">
                  <h2>해양 생물 3D 모델링</h2>
                  <p>3D 모델링 포트폴리오</p>
                </div>
                <img src="img/img-01.png" alt="" />
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#" target="_blank">
                <div class="text-wrap">
                  <h2>
                    아기자기한 그래픽의 날씨 어플<br />
                    by Aksonvady Phomhome
                  </h2>
                  <p>ios 포트폴리오</p>
                </div>
                <img src="img/img-03.png" alt="" />
              </a>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev" style="width: 40px; height: 40px"></div>
          <div class="swiper-button-next" style="width: 40px; height: 40px"></div>
        </div>
      </div>
      <script src="/custom_swiper.js"></script>
    </div>
    <div id="introduce-arrow">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

      <lottie-player
        src="https://lottie.host/c5ea3d1b-e528-48f1-bdd1-2a807a98b0a3/qBQMdnz6gw.json"
        background="transparent"
        speed="1"
        style="width: 150px; height: 150px"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="introduce" id="introduce-top">
      <p class="intro-config1">
        <span class="config-tion">「Configuration」</span> 은 <br />입체 배열간의 다양한 결합에 의해 <br />
        생성되는 배열을 의미합니다
      </p>
      <p class="intro-config2">
        Config도 다양한 분야에 있는 사람들과 결합하여<br />
        아이디어를 공유하는 서비스를 제공합니다
      </p>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

      <span id="config-share"
        ><lottie-player
          src="https://lottie.host/132059d8-740b-40b7-89e3-1894c9ad31b1/5GrvPvbrxJ.json"
          background="transparent"
          speed="1"
          style="width: 950px; height: 950px"
          loop
          autoplay
        ></lottie-player
      ></span>
      <span id="config-file"
        ><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <lottie-player
          src="https://lottie.host/0f559554-9b94-4d04-bbbe-6585e639b393/Ak5VxUPXTa.json"
          background="transparent"
          speed="1"
          style="width: 900px; height: 900px"
          loop
          autoplay
        ></lottie-player
      ></span>
      <p class="intro-share1"><span class="config-tion">다양한 분야</span> 의 사람들과</p>
      <p class="intro-share2"><span class="config-tion">아이디어를 공유</span> 하는 곳</p>
      <p class="intro-share3">
        Config는 더 다양한 프로젝트를 경험하고자 하는 마음에서 시작되었습니다 <br />
        많은 사람들은 프로젝트를 진행할 때 본인의 관심 분야 내에서 주제를 찾고 있습니다 <br />
        그렇게 한정된 범위 내에서 프로젝트를 진행하다보면 점점 주제를 찾기 어려워집니다 <br />
        Config는 다양한 분야의 사람들이 자신의 프로젝트를 공유하며 한정된 범위에서 벗어나 <br />
        다양한 주제를 간접적으로 경험할 수 있습니다
      </p>
      <p class="intro-ex1">
        <span class="config-tion">다양한 분야의 프로젝트를 <br />간접 체험</span>할 수 있습니다
      </p>
      <p class="intro-ex2">
        Config에서는 자신의 프로젝트를 기록하고 관리할 수 있습니다 <br />
        자신과 같은 관심사나 전문 분야 외에도<br />
        다른 분야에 있는 사람의 프로젝트 또한 공유할 수 있습니다
      </p>
      <span id="config-explore">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <lottie-player
          src="https://lottie.host/3899f859-b587-4d7f-8e98-d8ad22a831b1/7Ikf3NFAle.json"
          background="transparent"
          speed="1"
          style="width: 700px; height: 700px"
          loop
          autoplay
        ></lottie-player>
      </span>
      <br />
      <br />
      <div class="developers">
        <p style="margin-bottom: 20px">개발한 사람들</p>
        <div class="dev-card" id="card-01">
          <p class="team-a">
            <img src="/img/avatar01.png" class="dev-img" /><span id="dev-01-01">최유진</span
            ><span id="dev-01-02">로그인, <br />회원 관련 백엔드 <br />프론트엔드</span>
          </p>
        </div>
        <div class="dev-card" id="card-02">
          <p class="team-b">
            <img src="/img/avatar02.png" class="dev-img" /><span id="dev-02-01">최지민</span
            ><span id="dev-02-02"
              >메인, 로그인,<br />
              회원가입 프론트<br />백엔드</span
            >
          </p>
        </div>
        <div class="dev-card" id="card-03">
          <p class="team-c">
            <img src="/img/avatar03.png" class="dev-img" /><span id="dev-03-01">황성문</span
            ><span id="dev-03-02"
              >게시판 관련<br />
              프론트<br />게시판 백엔드</span
            >
          </p>
        </div>
      </div>
      <br />
      <br />
      <br />
      <script src="/introduce.js"></script>
      <script src="/jquery-ui.js"></script>
      <script src="/jquery-ui.min.js"></script>
    </div>
    <span th:replace="~{layout_footer.html::footerFragment}"></span>
  </body>
</html>
