<!DOCTYPE html>
<html lang="en">
<span th:fragment="footerFragment" class="total-footer">
<link rel="stylesheet" href="src\main\resources\static\layout_footer.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <p>
          Thank you for watching
          <i class="fa fa-heart"></i> 
          <i class="fa fa-heart"></i> 
          <i class="fa fa-heart"></i> 
        </p>
        <p>
          ⓒ Chouaib Blgn
        </p>
      </footer>
</body>
</html>