<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <span th:fragment="navbarFragment" class="total-navbar">
    <div id="top-navbar">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <script src="http://code.jquery.com/jquery-latest.js"></script>
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <a class="navbar-brand" href="#"><lottie-player
            src="https://lottie.host/d5069ff3-2a92-4d4b-b1f0-be6bd9c1572c/iQ4GOm14kK.json"
            background="transparent"
            speed="1"
            style="width: 10rem; height: 10rem"
            loop
            autoplay
          ></lottie-player
        ></a></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form role="search">
              <input class="form-control me-2" id="search-form" type="search" aria-label="Search" />
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <button type="button" class="nav-link" id="login">로그인</button>
                <div id="modal">
                  <div class="modal_content">
                    <button type="button" id="modal_close_btn">&times;</button>
                    <div class="login-container">
                      <!-- Heading -->
                      <h1 id="signin-title">Login</h1>
                      
                      <!-- Links -->
                      <ul class="links">
                        <li>
                          <a href="#" id="signin">로그인</a>
                        </li>
                        <li>
                          <a href="#" id="signup">회원가입</a>
                        </li>
                        <li>
                          <a href="#" id="reset">리셋</a>
                        </li>
                      </ul>
                      
                      <!-- Form -->
                      <form id="userform" action="" method="post">
                        <!-- email input -->
                        <div class="first-input input__block first-input__block">
                           <input type="email" placeholder="이메일" class="input" id="email"   />
                        </div>
                        <!-- password input -->
                        <div class="input__block">
                           <input type="password" placeholder="비밀번호" class="input" id="password"    />
                        </div>
                        <!-- repeat password input -->
                        <div class="input__block">
                           <input type="password" placeholder="비밀번호 재입력" class="input repeat__password" id="repeat__password"    />
                        </div>
                        <!-- sign in button -->
                        <button class="signin__btn">
                          Let's GO🚀
                        </button>
                      </form>
                      <!-- separator -->
                      <div class="separator">
                      </div>
                    </div>
                    
                    <footer>
                      <p>
                        Thank you for watching
                        <i class="fa fa-heart"></i> 
                        <i class="fa fa-heart"></i> 
                        <i class="fa fa-heart"></i> 
                      </p>
                      <p>
                        ⓒ Chouaib Blgn
                      </p>
                    </footer>
                  </div>
                  <div class="modal_layer"></div>
                </div>
              </li>
              <li class="nav-item">
                <button type="button" class="nav-link" id="signUp">회원가입</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="sidebar">
      <a class="side" href="#">✨ 전체</a>
      <a class="side" href="#">🌏 WEB</a>
      <a class="side" href="#">📱 APP</a>
      <a class="side" href="#">🤖 인공지능</a>
      <a class="side" href="#">💻 IT</a>
      <a class="side" href="#">⚡ 전자/전기</a>
      <a class="side" href="#">✏️ 디자인</a>
      <a class="side" href="#">🎨 그림</a>
      <a class="side" href="#">🎵 음악</a>
      <a class="side" href="#">🏡 건축</a>
    </div>
    <script src="/login.js"></script>
  </span>
</html>
