<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <span th:fragment="navbarFragment" class="total-navbar">
    <div id="top-navbar">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <a class="navbar-brand" href="#"><lottie-player
            src="https://lottie.host/d5069ff3-2a92-4d4b-b1f0-be6bd9c1572c/iQ4GOm14kK.json"
            background="transparent"
            speed="1"
            style="width: 10rem; height: 10rem"
            loop
            autoplay
          ></lottie-player
        ></a></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
              <input class="form-control me-2" id="search-form" type="search" aria-label="Search" />
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="login" aria-current="page" href="#">로그인</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signup" href="#">회원가입</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="sidebar">
      <a class="side" href="#">✨ 전체</a>
      <a class="side" href="#">🌏 WEB</a>
      <a class="side" href="#">📱 APP</a>
      <a class="side" href="#">🤖 인공지능</a>
      <a class="side" href="#">💻 IT</a>
      <a class="side" href="#">⚡ 전자/전기</a>
      <a class="side" href="#">✏️ 디자인</a>
      <a class="side" href="#">🎨 그림</a>
      <a class="side" href="#">🎵 음악</a>
      <a class="side" href="#">🏡 건축</a>
    </div>
  </span>
</html>
