<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </head>
    <body>
        <div class="container-fluid text-container">
            <div class="row" style="height: 100px; text-align: center;">
                <h2>포트폴리오 작성 페이지</h2>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form action="/save" method="post">
                        <textarea name="markdownContent" id="MyID"></textarea>
                        <script src="mde.js"></script>
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <input class="btn btn-primary" type="submit" value="저장">
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </body>
</html>
