<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <div class="container-fluid text-container">
        <div class="row">
            <div style="border: solid 1px black; height: 400px;">
                <h1>test</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="border: 1px solid blue; height: 100px;"></div>
            <div class="col-8" style="border: 1px solid red; height: 500px;"></div>
            <div class="col-2" style="border: 1px solid blue; height: 100px;"></div>
        </div>
